/* Section Banner */
.section-fixed{
    width: 100%;
}
section.banner{
    width: 100%;
    margin-top: 60px;
}
section.banner .center{
    text-align: center;
}
section.banner .text-banner{
    width: 90%;
    max-width: 650px;
    display: inline-block;
    color: #888888;
    text-align: center;
    animation: top 1s;
}
section.banner .text-banner h3{
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
}
section.banner .text-banner h3:nth-of-type(2){
    margin-top: 30px;
}
section.banner .text-banner h3 a{
    color: #24B6F7;
    text-decoration: none;
    transition: .2s;
}
section.banner .text-banner h3 a:hover{
    text-decoration: underline;
}

/* ** */

/* Section Button-List */

section.button-list{
    width: 100%;
    margin-top: 80px;
}
section.button-list .center{
    display: flex;
    justify-content: space-around;
}


section.button-list .btn-list{
    width: 80%;
    max-width: 380px;
}
section.button-list .btn-list:nth-child(1){
    animation: left 1s;
}
section.button-list .btn-list:nth-child(2){
    animation: right 1s;
}

.btn-wraper-center{
    position: relative;
}

.btn-wraper-center .cont{
    position: absolute;
    right: -11px;
    top: -11px;
    z-index: 999;

    width: 30px;
    height: 30px;

    background-color: #24B6F7;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-wraper-center .cont p{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #444;
}

.btn1{
    background-color: #EE4444;
}
.btn2{
    background-color: #00CC83;
}
.btn1:hover, .btn1.hover1{
    background-color: #aa2828;
}
.btn2:hover, .btn2.hover2{
    background-color: #019461;
}

.btn-wraper-center .btn-wraper{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    filter: drop-shadow(0 3px 2px rgba(0, 0, 0, .5));
    transition: .5s linear;
}
.btn-wraper.border-radius1{
    border-radius: 10px;
}
.btn-wraper.border-radius2{
    border-radius: 10px 10px 0 0;
}
.btn-wraper-center .btn-wraper h4{
    color: #EEEEEE;
    font-size: 20px;
    margin-right: 15px;
    font-weight: normal;
    font-style: normal;
}
.seta1{
    background-image: url('../../img/seta-para-baixo1.svg');
}
.seta2{
    background-image: url('../../img/seta-para-baixo2.svg');
}
.btn-wraper-center .btn-wraper .seta{
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: .2s linear;
}
.seta-para-cima{
    transform: rotate(-180deg);
}

.list-nomes{
    width: 100%;
    display: none;
    height: auto;
    max-height: 150px;
    background-color: #d5d5d5;
    /* transition: .5s; */
    border-radius: 0 0 10px 10px;
    overflow: auto;
}

.list-nomes::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: transparent !important;
}
.list-nomes::-webkit-scrollbar-thumb{
    /* width: 3px; */
    border-radius: 5px;
}
.name-date{
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 0 2% 2px;
    border-bottom: 1px solid #53E0DB;
    color: #777777;
    cursor: pointer;
    font-size: 0px;
    transition: .5s;
}
.name-date h4{
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    margin-right: 10px;
}
.name-date p{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    vertical-align: bottom;
}


/* ** */