/* Section Banner */
.section-fixed{
    width: 100%;
}
section.banner{
    width: 100%;
    margin-top: 60px;
}
section.banner .center{
    text-align: center;
}
section.banner .text-banner{
    width: 90%;
    max-width: 650px;
    display: inline-block;
    color: #888888;
    text-align: center;
    animation: top 1s;
}
section.banner .text-banner h3{
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
}
section.banner .text-banner h3:nth-of-type(2){
    margin-top: 30px;
}
section.banner .text-banner h3 a{
    color: #24B6F7;
    text-decoration: none;
    transition: .2s;
}
section.banner .text-banner h3 a:hover{
    text-decoration: underline;
}

/* ** */

/* Section Button-List */

section.button-list{
    width: 100%;
    margin-top: 80px;
}
section.button-list .center{
    display: flex;
    justify-content: space-around;
}


section.button-list .btn-list{
    width: 80%;
    max-width: 380px;
}
section.button-list .btn-list:nth-child(1){
    animation: left 1s;
}
section.button-list .btn-list:nth-child(2){
    animation: right 1s;
}

.btn-wraper-center{
    position: relative;
}

.btn-wraper-center .cont{
    position: absolute;
    right: -11px;
    top: -11px;
    z-index: 999;

    width: 30px;
    height: 30px;

    background-color: #24B6F7;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-wraper-center .cont p{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #444;
}

.btn1{
    background-color: #EE4444;
}
.btn2{
    background-color: #00CC83;
}
.btn1:hover, .btn1.hover1{
    background-color: #aa2828;
}
.btn2:hover, .btn2.hover2{
    background-color: #019461;
}

.btn-wraper-center .btn-wraper{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    filter: drop-shadow(0 3px 2px rgba(0, 0, 0, .5));
    transition: .5s linear;
}
.btn-wraper.border-radius1{
    border-radius: 10px;
}
.btn-wraper.border-radius2{
    border-radius: 10px 10px 0 0;
}
.btn-wraper-center .btn-wraper h4{
    color: #EEEEEE;
    font-size: 20px;
    margin-right: 15px;
    font-weight: normal;
    font-style: normal;
}
.seta1{
    background-image: url('../../img/seta-para-baixo1.svg');
}
.seta2{
    background-image: url('../../img/seta-para-baixo2.svg');
}
.btn-wraper-center .btn-wraper .seta{
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: .2s linear;
}
.seta-para-cima{
    transform: rotate(-180deg);
}

.list-nomes{
    width: 100%;
    display: none;
    height: auto;
    max-height: 150px;
    background-color: #d5d5d5;
    /* transition: .5s; */
    border-radius: 0 0 10px 10px;
    overflow: auto;
}

.list-nomes::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: transparent !important;
}
.list-nomes::-webkit-scrollbar-thumb{
    /* width: 3px; */
    border-radius: 5px;
}
.name-date{
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 0 2% 2px;
    border-bottom: 1px solid #53E0DB;
    color: #777777;
    cursor: pointer;
    font-size: 0px;
    transition: .5s;
}
.name-date h4{
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    margin-right: 10px;
}
.name-date p{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    vertical-align: bottom;
}

.name-date.null{
    border-bottom: 0;
    cursor: url(../../img/cursor1.cur),auto;
    padding: 10px;
}
.name-date.null p{
    font-size: 18px;
    color: #444;
}
/* ** */

/* Form Agend */

.form-agend{
    display: none;
    width: 95%;
    height: 93%;
    padding: 2%;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    text-align: center;
}
.form-agend.animate-popup{
    display: block;
    animation: bottom .5s;
}
.form-agend > a{
    position: absolute;
    top: -13px;
    right: -13px;
    background-color: #4158d0;
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
    font-size: 25px;
    border-radius: 50%;
    border: 2px solid #2a292ba4;
    transition: background .2s;
}
.form-agend a:hover{
    background-color: #374baf;
}
.form-agend h2{
    color: #777;
    font-weight: normal;
    font-size: 25px;
    /* text-align: center; */
}

.form-agend form{
    width: 98%;
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
}
.form-agend .center-form{
    display: flex;
    width: 100%;
    max-height: 450px;
    overflow: auto;
    justify-content: space-around;
}
.form-agend form .form-50{
    width: 49%;
    height: 80%;
    padding: 10px 0;
}
form .form-group-agend{
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    padding: 2%;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    text-align: left;
}
form .form-group-agend.disabled{
    background-color: #777;
    cursor: not-allowed;
}
form .form-group-agend.necessidade{
    padding: 20px;
}
form .form-group-agend h4{
    color: #fff;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 5px;
}
form .form-group-agend.ged{
    display: flex;
    padding: 20px;
}
form .form-group-agend.ged label{
    font-size: 18px;
    margin-right: 5px;
}
form .form-group-agend.ged input{
    font-size: 16px;
    margin: 0;
    margin-right: 10px;
    border: 0;
    padding: 0;
}
form .form-group-agend input[type='datetime-local']{
    cursor: pointer;
}
form .form-group-agend .tipo-ajuda{
    margin: 10px 0;
}
form .form-group-agend .tipo-ajuda-wrapper{
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
}
form .form-group-agend .tipo-ajuda-wrapper label{
    font-size: 16px;
}
form .form-group-agend .tipo-ajuda-wrapper .checkbox{
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-top: 2px;
    background-color: #fff;
    border-radius: 5px;
}
form .form-group-agend .tipo-ajuda-wrapper .checkbox i svg{
    width: 18px;
    height: 18px;
    fill: #0091ea;
}
form .form-group-agend.ged .null-ged, form .form-group-agend .null-necessidade{
    font-size: 18px;
    color: #fff;
}
form .form-group-agend.disabled label{
    color: #fff;
    cursor: not-allowed;
}
form .form-group-agend:nth-of-type(1){
    margin-top: 0;
}
.form-group-agend label{
    font-size: 20px;
    color: #777;
    font-weight: 300;
}
.form-group-agend input{
    border: 0;
    border-bottom: 1px solid #ccc;
    height: 20px;
    color: #555;
    margin-top: 15px;
    margin-left: 10px;
    padding-left: 5px;
    font-size: 18px;
    padding-bottom: 5px;
    transition: border-bottom .5s linear;
    width: 90%;
}
.form-group-agend input[disabled]{
    background-color: transparent;
    color: #f5f5f5 !important;
}
.form-group-agend input:focus{
    outline: none;
    border-bottom: 2px solid #1673B5;
}

.form-agend form input[type=submit]{
    border: 0;
    margin: 30px 0 20px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    max-width: 300px;
    background-color: #36B24B;
    display: inline-block;
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    border-radius: 10px;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.8));
    cursor: pointer;
    transition: background-color .5s;
}
form input[type=submit]:focus{
    outline: none;
    border: 0;
}
form input[type=submit]:hover{
    background-color: #00A651;
}

/* ** */