html, body{
    background: #50c886;
    background: -webkit-linear-gradient(45deg, #4158d0, #50c886);
    background: -o-linear-gradient(45deg, #4158d0, #50c886);
    background: -moz-linear-gradient(45deg, #4158d0, #50c886);
    background: linear-gradient(45deg, #4158d0, #50c886);
    overflow: hidden;
}
.form-login{
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-login-center{
    width: 100%;
    padding: 30px 1%;
    border-bottom: 2px solid #aaa;
}
.animate-form.form-login-center{
    animation: top 1s;
}
.user-img{
    position: relative;
    width: 14%;
    padding: 15%;
    border: 2px solid #aaa;
    border-radius: 50%;
    margin: 0 auto;
}
.user-img::before, .user-img::after{
    content: '';
    border-top: 2px solid #aaa;
    width: 120%;
    position: absolute;
    top: 50%;
}
.user-img::after{
    left: 100%;
}
.user-img::before{
    right: 100%;
}
.user-img i{
    width: 60%;
    height: 60%;
    fill: #aaa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


form{
    width: 100%;
    margin-top: 30px;
}
form .flex-login{
    display: flex;
    background-color: white;
    width: 100%;
    margin-top: 15px;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, .2);
}
.animate-form .user-name{
    animation: left 1s;
}
.animate-form .user-password{
    animation: right 1s;
}
.user-img11{
    background: #50c886;
    background: -webkit-linear-gradient(45deg, #4158d0, #50c886);
    background: -o-linear-gradient(45deg, #4158d0, #50c886);
    background: -moz-linear-gradient(45deg, #4158d0, #50c886);
    background: linear-gradient(45deg, #4158d0, #50c886);

    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;
}   

.user-img11 i{
    width: 50%;
    height: 40%;
    margin-bottom: 10px;
    fill: white;
}
.user-img11 i.cadeado{
    width: 70%;
    height: 60%;
    margin-bottom: 0px;
    margin-left: 10px;
}

.input{
    width: calc(100% - 50px);
    height: 40px;
}
.input input{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    background-color: transparent;

    font-size: 16px;
}

form .logar-button{
    background: #418bd0;

    transition: .2s linear;
}
.animate-form .logar-button{
    animation: left 1s;
}
form .logar-button:hover{
    background: #50c8b4;
}
form .logar-button .input{
    width: 100%;
}
form .logar-button input{
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: 300;
    text-align: center;
    /* background-color: white; */
}

.user-lembrete{
    width: 100%;
    display: flex;
    margin-top: 40px;
    align-items: center;
}
.animate-form .user-lembrete{
    animation: right 1s;
}
.user-lembrete .input{
    display: flex;
    width: 50%;
    align-items: center;
}
.user-lembrete .input input[type=checkbox]{
   display: none;
}
.user-lembrete .input label{
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 6px;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;

    position: relative;
}
.after-lembrete{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 20px;
    border-right: 0px solid #0f0;
    border-bottom: 0px solid #0f0;
    transform: translate(-50%,-50%) rotate(35deg);
    transition: border-bottom-width .2s linear, border-right-width .5s linear;
}
.user-lembrete input[type=checkbox]:checked + label > .after-lembrete{
    /* display: block; */
    border-right-width: 3px;
    border-bottom-width: 3px;
}
.user-lembrete .input span{
    margin-left: 8px;
    font-size: 16px;
    color: #ddd;
}
.user-lembrete .senha-esquecida{
    width: 50%;
    text-align: right;
}
.user-lembrete .senha-esquecida a{
    text-decoration: none;
    color: rgba(255, 255, 255, .4);
    font-style: italic;
    font-size: 16px;
}
.user-lembrete .senha-esquecida a:hover{
    text-decoration: underline;
}

.suport{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}
.suport p{
    font: 16px;
    color: rgba(255, 255, 255, .4);
}
.animate-form.suport p{
    animation: bottom 1s;
}
.suport a{
    text-decoration: none;
    color: rgba(0, 204, 255, 0.637);
}
.suport a:hover{
    text-decoration: underline;
}
.error-box{
    width: 0%;
    /* transition: .2s linear; */
    animation: shake 1s;
}
.error-box.activeErrorBox{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    padding: 6px 2%;
    text-align: center;
    background-color: #f75353;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    vertical-align: center;
}
.error-box.activeErrorBox.vazio{
    height: 45px;
}