
.relatorio{
    width: 100%;
    overflow: auto;
}
.div-wrapper{
    max-height: 500px;
    overflow: auto;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    /* display: flex; */
    /* justify-content: center; */
}
.div-wrapper::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: transparent !important;
}
.div-wrapper::-webkit-scrollbar-thumb{
    /* width: 3px; */
    border-radius: 5px;
}


.opcoes-wrapper{
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.opcoes-wrapper i svg{
    width: 25px;
    height: 25px;
    transition: fill .2s;
}
.opcoes-wrapper .remove-single{
    margin-left: 20px;
}
.opcoes-wrapper .editar-single i svg{
    fill: #4158d0;
}
.opcoes-wrapper .mostrar-single i svg{
    width: 30px;
    height: 30px;
    fill: #4158d0;
}
.opcoes-wrapper .remove-single i svg{
    fill: #eb4034;
}
.opcoes-wrapper .editar-single:hover i svg,
.opcoes-wrapper .remove-single:hover i svg,
.opcoes-wrapper .mostrar-single:hover i svg{
    fill: #ebd034;
}


/* Deletar */

.deletar-center{
    display: none;
    background-color: #f5f5f5;
    width: 40%;
    height: 30%;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* border: 2px solid #4158d0; */
    box-shadow: -1px -1px 2px 0 #4158d0,
                1px 1px 2px 0 #4158d0; 
}
.deletar-center.animate-popup{
    display: flex;
    animation: bottom .5s;
}
.deletar-center h2{
    color: #777;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
}
.deletar-center .buttom{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deletar-center .buttom input, .deletar-center .buttom a{
    cursor: pointer;
    display: flex;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    border-radius: 8px;
    color: #f5f5f5;
    filter: drop-shadow(0 1px 3px #000);
    transition: background .2s;
}
.deletar-center .buttom input{
    margin-right: 20px;
    background-color: #eb4034;
}
.deletar-center .buttom a{
    background-color: #4158d0;
}
.deletar-center .buttom a:hover{
    background-color: #374baf;
}
.deletar-center .buttom input:hover{
    background-color: #c2372d;
}

/* ** */

/* Editar Usuário */

.editar-center{
    display: none;
    position: relative;
    background-color: #f5f5f5;
    width: 85%;
    height: 75%;
    padding: 2%;
    border-radius: 10px;
    /* border: 2px solid #4158d0; */
    box-shadow: -1px -1px 2px 0 #4158d0,
                1px 1px 2px 0 #4158d0; 
}
.editar-center.animate-popup{
    display: block;
    animation: bottom .5s;
}
.editar-center h2{
    color: #777;
    font-weight: normal;
    font-size: 25px;
    /* text-align: center; */
}
.editar-center a{
    position: absolute;
    top: -13px;
    right: -13px;
    background-color: #4158d0;
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
    font-size: 25px;
    border-radius: 50%;
    border: 2px solid #2a292ba4;
    transition: background .2s;
}
.editar-center a:hover{
    background-color: #374baf;
}
.editar-center .buttom{
    padding: 0 2%;
}
/* ** */

/* Opções de relatorio */
.opcao-relatorio{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
}
.opcao-relatorio .gerar{
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-transform: uppercase;
    color: #f5f5f5;
    font-weight: normal;
    text-decoration: none;
    filter: drop-shadow(0 2px 3px #444);
    background-color: #4158d0;
    transition: background-color .5s;
}
.opcao-relatorio .gerar:hover{
    background-color: #3649aa;
}
.opcoes-relatorio-wrapper{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.opcoes-relatorio-wrapper i{
    width: 40px;
    height: 40px;
    fill: #909090;
    transition: .5s;
    /* transform: rotate(0deg); */
}
.opcoes-relatorio-wrapper:hover i{
    fill: #3493eb;
    transform: rotate(180deg);
}
.opcoes-relatorio-wrapper .closeX{
    display: none;
}
.opcaoes-relatorio-single{
    display: none;
    position: absolute;
    width: 150px;
    height: auto;
    background-color: #707070;
    top: 20px;
    left: 43px;
    z-index: 2000;
    border-radius: 5px;
}
.opcaoes-relatorio-single a{
    color: #f5f5f5;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: block;
    text-transform: uppercase;
    color: #f5f5f5;
    font-weight: normal;
    text-decoration: none;
    transition: background-color .5s;
}
.opcaoes-relatorio-single a:first-of-type{
    border-radius: 5px 5px 0 0;
}
.opcaoes-relatorio-single a:last-of-type{
    border-radius: 0 0 5px 5px;
}
.opcaoes-relatorio-single a:hover{
    background-color: #909090;
}