@charset "UTF-8";
/*//////////////////////////////////////////////////////////////////
[ Table ]*/

/* .limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
} */

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 30px auto 0;
  position: relative;
  /* animation: bottom 1s; */
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
  /* border-radius: 10px; */
}
table thead{
  border-radius: 10px 10px 0 0 !important;
}
table thead tr {
  height: 40px;
  background: #36304a;
  animation: right 1s;
  border-radius: 10px !important;
}
table tbody tr {
  height: 40px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  /* font-family: OpenSans-Regular; */
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  color: white;
  background-color: #50c886;
  animation: right 1s;
}
tbody tr {
  /* font-family: OpenSans-Regular; */
  font-size: 15px;
  color: #5c5c5c;
  line-height: 1.2;
  font-weight: unset;
  transition: .2s;
  animation: left 1s;
}

tbody tr:hover {
  color: #fff;
  background-color: #4158d0;
  cursor: pointer;
}
tbody tr:hover .opcoes-wrapper i svg{
  fill: #fff;
}
thead tr th, tbody tr td{
  width: auto;
  padding: 0 20px;
}
thead tr th:first-of-type, tbody tr td:first-of-type{
  padding-left: 20px;
  width: 60px;
}

thead tr th:last-of-type, tbody tr td:last-of-type{
  padding-right: 20px;
  text-align: center;
}
/* tbody tr:nth-child(2n + 1) td{
  animation: left 1s;
}
tbody tr:nth-child(2n + 2) td{
  animation: right 1s;
} */


@media screen and (max-width: 992px) {
  table {
    display: block;
    overflow: auto;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    /* font-family: OpenSans-Regular; */
    font-size: 14px;
    color: #5c5c5c;
    transition: .2s;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  tbody tr:nth-child(even) td:before {
    color: white;
  }
  tbody tr:first-of-type {
    border-radius: 10px 10px 0 0;
  }
  tbody tr:hover:first-of-type {
    border-radius: 10px 10px 0 0;
  }
  tbody tr:last-of-type{
    border-radius: 0 0 10px 10px;
  }
  table tbody tr:hover td:before{
    color: #fff;
  }
  table tbody tr td:nth-child(1):before {
    content: "ID";
  }
  table tbody tr td:nth-child(2):before {
    content: "Nome";
  }
  table tbody tr td:nth-child(3):before {
    content: "Login";
  }
  table tbody tr td:nth-child(4):before {
    content: "Cargo";
  }
  table tbody tr td:nth-child(5):before {
    content: "Opções";
  }
  table tbody tr td:nth-child(6):before {
    content: "Total";
  }
  
  .form-table-center table tbody tr td:nth-child(3):before {
    content: "Telefone";
  }
  .form-table-center table tbody tr td:nth-child(4):before {
    content: "Dia da Visita";
  }
  .form-table-center table tbody tr td:nth-child(5):before {
    content: "Responsável por Agend.";
  }
  .form-table-center table tbody tr td:nth-child(6):before {
    content: "Ver Mais detalhes";
  }

  thead tr th:last-of-type, tbody tr td:last-of-type{
    /* padding-right: 20px; */
    text-align: left;
  }
  .opcoes-wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
}
  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}