/* .anime{
    opacity: 0;
    transition: .5s;
}
.anime.left{
    transform: translate3d(-100, 0, 0);
} */
@keyframes none{
  from{
      opacity: 0;
      transform: translate3d(0px, 0, 0);
  }
  to{
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}
@keyframes left{
    from{
        opacity: 0;
        transform: translate3d(-100px, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes right{
    from{
        opacity: 0;
        transform: translate3d(100px, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes top{
    from{
        opacity: 0;
        transform: translate3d(0, -100px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bottom{
    from{
        opacity: 0;
        transform: translate3d(0, 100px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes shake {
    from, to {
      transform: translate3d(0, 0, 0);
    }
  
    10%, 30%, 50%, 70%, 90% {
      transform: translate3d(-10px, 0, 0);
    }
  
    20%, 40%, 60%, 80% {
      transform: translate3d(10px, 0, 0);
    }
  }
  @keyframes shakeTop {
    from, to {
      transform: translate3d(0, 0, 0);
    }
  
    10%, 30%, 50%, 70%, 90% {
      transform: translate3d(0, -10px, 0);
    }
  
    20%, 40%, 60%, 80% {
      transform: translate3d(0, 10px, 0);
    }
  }